<div class="bloc-content d-flex flex-column align-items-center gap-5">
  <div class="newsletter-section text-center">
    <div class="title mb-4">🚀 Soyez les premiers informés !</div>
    <div class="input-grp d-flex align-items-center gap-3">
      <div class="input-field">
        <input
          type="email"
          id="user-email"
          placeholder="votre@email.com"
          class="form-control">
      </div>
      <button class="btn btn-primary">
        Je m'inscris
      </button>
    </div>
  </div>
  <div class="text-down">Accès exclusif • Pas de spam • Désinscription en 1 clic</div>
</div>
